/* red, orange, yellow, green, blue, indigo and violet */
/* 
light-blue: #a6cee3
dark-blue: #1f78b4
light-green: #b2df8a
dark-green: #33a02c
pink: #fb9a99
red: #e31a1c
light-orange: #fdbf6f
dark-orange: #ff7f00
lavender: #cab2d6
violet: #6a3d9a
yellow : #ffff99 
*/

.board {
	width: 960px;
	margin: 10% auto;
	background-color: aliceblue;
	opacity: 0.8;
	box-shadow: 0px 0px 2px 2px #5d5c5c;
	text-align: center;
	padding: 20px;
}

h1, 
h3, 
p {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

div.tooltip {
	position: absolute;
	text-align: center;
	width: 200px;
	height: 65px;
	padding: 5px;
	background: #5d5c5c;
	border: 1px solid black;
	color: #fff;
	border-radius: 8px;
	pointer-events: none;
	opacity: 0;
}
